{% extends 'base.html' %}
{% load static %}

{% block header-action %}

<a id="add_employee" href="#" type="button" class="btn btn-success me-2">Добавить
    сотрудника</a>

{% endblock header-action %}


{% block content %}

<div class="container mt-5">

    <h1 class="text-center mb-5">Каталог сотрудников</h1>

    <form id="filter-form" class="mb-3">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="search" id="search" class="form-control" placeholder="Поиск...">
            </div>
            <div class="col-md-3">
                <select name="sort" id="sort" class="form-control">
                    <option value="full_name">Полное имя</option>
                    <option value="position">Позиция</option>
                    <option value="hire_date">Дата приема на работу</option>
                    <option value="salary">Зарплата</option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Сортировать / Поиск</button>
            </div>
        </div>
    </form>

    <table class="table" id="employee-table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Полное имя</th>
                <th>Позиция</th>
                <th>Дата приема на работу</th>
                <th>Зарплата</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>

                <td></td>

                <td>{{ employee.full_name }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.hire_date }}</td>
                <td>{{ employee.salary }} $</td>
                <td>
                    <a href="#" class="btn btn-primary edit-employee"
                        data-employee="{{ employee.pk }}">Редактировать</a>
                    <a href="#" class="btn btn-danger delete-employee" data-employee="{{ employee.pk }}">Удалить</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Сотрудников не обнаружено.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<nav id="pagination">
    <ul class="pagination justify-content-center"></ul>
</nav>

<!-- Edit employee modal -->
<div class="modal fade" id="edit-employee-modal" tabindex="-1" aria-labelledby="edit-employee-modal-label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-employee-modal-label">Редактировать сотрудника</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-employee-form">
                    <input type="hidden" name="employee_id" id="employee-id">
                    <div class="mb-3">
                        <label for="full-name" class="form-label">Полное имя</label>
                        <input type="text" class="form-control" name="full_name" id="full-name">
                    </div>
                    <div class="mb-3">
                        <label for="position" class="form-label">Позиция</label>
                        <input type="text" class="form-control" name="position" id="position">
                    </div>
                    <div class="mb-3">
                        <label for="hire-date" class="form-label">Дата приема на работу</label>
                        <input type="date" class="form-control" name="hire_date" id="hire-date">
                    </div>
                    <div class="mb-3">
                        <label for="salary" class="form-label">Зарплата</label>
                        <input type="number" step="0.01" class="form-control" name="salary" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" class="form-control" name="image" id="employee-image-edit">
                    </div>

                    <div class="form-group mb-3">
                        <label for="sel2">Select Manager:</label>
                        <select class="form-control" id="my-select-2"></select>
                    </div>

                    <div class="mb-3">
                        <label for="employee_level" class="form-label">Level</label>
                        <input type="number" class="form-control" name="employee_level" min="1" max="5" required
                            id="employee_level">
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Create -->
<div class="modal fade" id="add-employee-modal" tabindex="-1" aria-labelledby="add-employee-modal-label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-employee-modal-label">Add Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-employee-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="full-name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" name="full_name" id="full-name">
                    </div>
                    <div class="mb-3">
                        <label for="position" class="form-label">Position</label>
                        <input type="text" class="form-control" name="position" id="position">
                    </div>
                    <div class="mb-3">
                        <label for="hire-date" class="form-label">Hire Date</label>
                        <input type="date" class="form-control" name="hire_date" id="hire-date">
                    </div>
                    <div class="mb-3">
                        <label for="salary" class="form-label">Salary</label>
                        <input type="number" step="0.01" class="form-control" name="salary" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="employee-image" class="form-label">Image</label>
                        <input type="file" class="form-control" name="image" id="employee-image">
                    </div>

                    <div class="form-group mb-3">
                        <label for="sel2">Select Manager:</label>
                        <select class="form-control " id="my-select-1"></select>
                    </div>
                    <div class="mb-3">
                        <label for="employee_level" class="form-label">Level</label>
                        <input type="number" class="form-control" name="employee_level" min="1" max="5" required
                            id="employee_level">
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Delete employee modal -->
<div class="modal fade" id="delete-employee-modal" tabindex="-1" aria-labelledby="delete-employee-modal-label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-employee-modal-label">Удалить сотрудника</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить этого сотрудника?</p>
                <form id="delete-employee-form">
                    <input type="hidden" name="employee_id" id="delete-employee-id">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#my-select-1').select2({
            ajax: {
                url: '{% url "autocomplete" %}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return { id: item.id, text: [item.full_name, " - ", item.position] };
                        })
                    };
                }
            },
            minimumInputLength: 3,
            dropdownParent: '#add-employee-modal',
            width: '100%',


        });


        $('#my-select-2').select2({
            ajax: {
                url: '{% url "autocomplete" %}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return { id: item.id, text: [item.full_name, " - ", item.position] };
                        })
                    };
                }
            },
            minimumInputLength: 3,
            dropdownParent: '#edit-employee-modal',
            width: '100%',
        });

    });
</script>

<script>
    $(document).ready(function () {
        loadEmployees(1);
        $('#filter-form').on('submit', function (event) {
            event.preventDefault();
            loadEmployees(1);
        });

        $('#employee-table').on('click', '.edit-employee', function (event) {
            event.preventDefault();
            var employeeId = $(this).data('employee');


            $.ajax({
                url: '{% url "employee_detail_ajax" 0 %}'.replace('0', employeeId),
                dataType: 'json',
                success: function (response) {
                    $('#employee-id').val(response.employee.pk);
                    $('#full-name').val(response.employee.full_name);
                    $('#position').val(response.employee.position);
                    $('#hire-date').val(response.employee.hire_date);
                    $('#salary').val(response.employee.salary);
                    $('#image').val(response.employee.image);
                    $('#employee_level').val(response.employee.employee_level);
                    $('#edit-employee-modal').modal('show');
                }
            });
        });

        $('#add_employee').on('click', function (event) {
            event.preventDefault();
            $('#add-employee-modal').modal('show');
        });

        $('#add-employee-form').on('submit', function (event) {
            event.preventDefault();


            var formData = new FormData(this);
            var employeeImage = $('#employee-image').get(0).files[0];
            formData.append('employee_image', employeeImage);

            $.ajax({
                url: '{% url "save_employee_ajax" %}',
                method: 'POST',
                data: formData,
                processData: false, // Prevent jQuery from processing the data
                contentType: false, // Prevent jQuery from setting the content type

                success: function (response) {
                    if (response.success) {
                        $('#add-employee-modal').modal('hide');


                        loadEmployees();
                    } else {
                        alert(response.error);
                    }
                }
            });
        });

        $('#edit-employee-form').on('submit', function (event) {
            event.preventDefault();
            var employeeId = $('#employee-id').val();
            var formData = new FormData(this);
            var employeeImage = $('#employee-image-edit').get(0).files[0];
            formData.append('employee_image', employeeImage);

            $.ajax({
                url: '{% url "employee_update_ajax" 0 %}'.replace('0', employeeId),
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $('#edit-employee-modal').modal('hide');
                        loadEmployees();
                    } else {
                        alert(response.error);
                    }
                }
            });
        });

        $('#employee-table').on('click', '.delete-employee', function (event) {
            event.preventDefault();
            var employeeId = $(this).data('employee');
            if (confirm('Вы уверены, что хотите удалить этого сотрудника?')) {
                $.ajax({
                    url: '{% url "employee_delete_ajax" 0 %}'.replace('0', employeeId),
                    method: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {


                            loadEmployees();

                        } else {
                            alert(response.error);
                        }
                    }
                });
            }
        });

        $('#manager-select').select2({
            ajax: {
                url: '{% url "autocomplete" %}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return { id: item.id, full_name: item.full_name };
                        })
                    };
                }
            },
            minimumInputLength: 1
        });

        $(".profiles-thread").select2({
            minimumInputLength: 2,
            tags: [],
            ajax: {
                url: '{% url "autocomplete" %}',
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (term) {
                    return {
                        term: term
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.completeName,
                                slug: item.slug,
                                id: item.id
                            }
                        })
                    };
                }
            }
        });

        // Pagination handlers
        $(document).on('click', '.page-link', function (event) {
            event.preventDefault();
            var pageNumber = parseInt($(this).data('page'));
            loadEmployees(pageNumber);
        });

        function loadEmployees(pageNumber) {
            var sortField = $('#sort').val();
            var searchQuery = $('#search').val();

            $.ajax({
                url: '/employee_list_ajax/',
                data: {
                    page: pageNumber,
                    sort: sortField,
                    search: searchQuery
                },
                dataType: 'json',
                success: function (response) {
                    var employees = response.employees;
                    var totalPages = response.total_pages;
                    var currentPage = response.current_page;

                    var tbody = $('#employee-table tbody');
                    tbody.empty();

                    if (employees.length > 0) {
                        employees.forEach(function (employee) {
                            var row = $('<tr>');
                            var image = $('<img>').attr('src', employee.photo).addClass('table-image');
                            row.append($('<td>').append(image));
                            row.append($('<td>').text(employee.full_name));
                            row.append($('<td>').text(employee.position));
                            row.append($('<td>').text(employee.hire_date));
                            row.append($('<td>').text(employee.salary));
                            var editButton = $('<a>').attr('href', '#').addClass('btn btn-primary me-3 edit-employee').attr('data-employee', employee.pk).text('Edit');
                            var deleteButton = $('<a>').attr('href', '#').addClass('btn btn-danger delete-employee').attr('data-employee', employee.pk).text('Delete');
                            row.append($('<td>').append(editButton, deleteButton));
                            tbody.append(row);
                        });
                    } else {
                        var row = $('<tr>');
                        row.append($('<td colspan="4">').text('No employees found.'));
                        tbody.append(row);
                    }

                    // Update pagination links
                    var pagination = $('#pagination ul');
                    pagination.empty();

                    if (totalPages > 0) {
                        var prevPageLink = $('<a>').addClass('page-link').attr('href', '#').attr('data-page', currentPage - 1).text('Previous');
                        var prevPageItem = $('<li>').addClass('page-item').addClass(currentPage === 1 ? 'disabled' : '').append(prevPageLink);
                        pagination.append(prevPageItem);

                        for (var i = 1; i <= totalPages; i++) {
                            var pageLink = $('<a>').addClass('page-link').attr('href', '#').attr('data-page', i).text(i);
                            var pageItem = $('<li>').addClass('page-item').addClass(i === currentPage ? 'active' : '').append(pageLink);
                            pagination.append(pageItem);
                        }

                        var nextPageLink = $('<a>').addClass('page-link').attr('href', '#').attr('data-page', currentPage + 1).text('Next');
                        var nextPageItem = $('<li>').addClass('page-item').addClass(currentPage === totalPages ? 'disabled' : '').append(nextPageLink);
                        pagination.append(nextPageItem);
                    }
                }
            });
        }
    });
</script>
{% endblock %}