{% extends 'base.html' %}

{% block content %}


<main class="flex-shrink-0 h-100">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1>Тестовое задание</h1>
                <p class="lead">В этом тестовом задании Вам нужно разработать онлайн каталог сотрудников для
                    компании с более чем 50,000 сотрудников</p>
                <a href="{% url 'task_list' %}" class="btn btn-primary btn-lg">Тестовое задание</a>
                <a href="{% url 'employee_list' %}" class="btn btn-success btn-lg">Каталог сотрудников</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}