{% extends 'base.html' %}



{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-5 mt-5">Тестовое задание на позицию Junior Python Developer</h2>
            <div class="card">



                <div class="card-body">

                    <div class="card border-primary mb-3">
                        <div class="card-body text-primary">
                            <strong class="card-text">В этом тестовом задании Вам нужно разработать онлайн
                                каталог
                                сотрудников для
                                компании с более чем 50,000 сотрудников.</strong>

                            <p class="card-text">При выполнении тестового задания Вы можете дополнительно
                                использовать любые
                                сторонние Python и/или Javascript/CSS библиотеки, без всяких ограничений. Все 3rd
                                party Python/Javascript/CSS библиотеки должны быть добавлены в проект через
                                pip/bower/npm/yarn если библиотека поддерживает такой способ установки. У нас
                                нет никаких требований к оформлению фронтенд части, но аккуратный вид
                                приветствуется и добавим вам бонусных пунктов.</p>
                        </div>
                    </div>

                    <strong>Общая информация</strong>
                    <ul>
                        <li>1. Тестовое задание разделено на две части. Часть №1 обязательная и мы
                            примем Вашу кандидатуру к рассмотрению только в том случае если часть №1
                            выполнена. Часть №2 опциональная, по количеству задач из этой части
                            которые Вы смогли выполнить мы сможем оценить Ваш уровень опыта и
                            навыков в области веб разработки. Если у Вас уже есть опыт работы с
                            фреймворками Django и/или Flask – попытайтесь выполнить все или как можно
                            больше задач из части №2, это повысит ваши шансы по отношению к другим
                            кандидатам.</li>
                        <li>2. Вы должны отправить Ваше решение для тестового задания на нашу
                            электронную почту hr@abz.agency в виде ссылки на github/bitbucket
                            репозиторий. Если Вы пришлете Ваше решение в любом другом виде (в виде
                            ссылки на zip архив, прикрепите zip архив к письму, и др.) – Ваша кандидатура
                            не будет нами рассмотрена!</li>
                        <li>3. Вам необходимо также приложить ссылку или вложением подробное резюме,
                            контактный номер телефона и ник скайпа.</li>
                        <li>4. Укажите в письме список выполненных пунктов для каждой части, выбранный
                            вами фреймворк. Если Вы сделали не все пункты тестового задания –
                            пожалуйста, укажите причину по которой вы их не выполнили (не хватило
                            времени, не хватает опыта/знания, что-то ещё).</li>
                    </ul>



                    <strong>Технические требования</strong>
                    <ul>
                        <li>Django 2.1+ / Flask 1.0+</li>
                        <li>MySQL 5.6+ / PostgreSQL 10+</li>
                        <li>Python 3.7+</li>
                    </ul>




                    <strong>Часть №1 (обязательная)</strong>
                    <p>Создайте веб страницу, которая будет выводить иерархию сотрудников в
                        древовидной форме.</p>
                    <ul>
                        <li>Информация о каждом сотруднике должна храниться в базе данных и
                            содержать следующие данные:
                            <ul>
                                <li>ФИО;</li>
                                <li>Должность;</li>
                                <li>Дата приема на работу;</li>
                                <li>Размер заработной платы;</li>
                            </ul>
                        </li>
                        <li>У каждого сотрудника есть 1 начальник;</li>
                        <li>База данных должна содержать не менее 50 000 сотрудников и 5 уровней
                            иерархий.</li>
                        <li>Не забудьте отобразить должность сотрудника.</li>
                    </ul>

                    <strong class="mb-3">Часть №2 (опциональная)</strong>

                    <ul class="list-group card-body">
                        <li class="list-group-item">1. Создайте базу данных используя миграции Django / Flask.</li>
                        <li class="list-group-item">2. Используйте DB seeder для Django ORM / Flask-SQLAlchemy для
                            заполнения базы данных</li>
                        <li class="list-group-item">3. Используйте Twitter Bootstrap для создания базовых стилей Вашей
                            страницы</li>
                        <li class="list-group-item card-text">4. Создайте еще одну страницу и выведите на ней список
                            сотрудников
                            со всей имеющейся о сотруднике информацией из базы данных и возможностью сортировать по
                            любому полю.</li>
                        <li class="list-group-item card-text">5. Добавьте возможность поиска сотрудников по любому полю
                            для
                            страницы созданной в задаче 4</li>
                        <li class="list-group-item">6. Добавьте возможность сортировать (и искать если Вы выполнили
                            задачу №5) по любому полю без перезагрузки страницы, например используя ajax.</li>
                        <li class="list-group-item">7. Используя стандартные функции Django / Flask, осуществите
                            аутентификацию пользователя для раздела веб сайта доступного только для зарегистрированных
                            пользователей.</li>
                        <li class="list-group-item">8. Перенесите функционал разработанный в задачах 4, 5 и 6 (используя
                            ajax запросы) в раздел доступный только для зарегистрированных пользователей.</li>
                        <li class="list-group-item">9. В разделе доступном только для зарегистрированных пользователей,
                            реализуйте остальные CRUD операции для записей сотрудников. Пожалуйста заметьте, что все
                            поля касающиеся пользователей должны быть редактируемыми, включая начальника каждого
                            сотрудника</li>
                        <li class="list-group-item">10. Осуществите возможность загружать фотографию сотрудника и
                            отобразите ее на странице, где можно редактировать данные о сотрудник. Добавьте
                            дополнительную колонку с уменьшенной фотографией сотрудника на странице списка всех
                            сотрудников</li>
                        <li class="list-group-item">11. Осуществите возможность перераспределения сотрудников в случае
                            изменения начальника (бонусом может быть то, что вы сможете это осуществить с применением
                            встроенных механизмов/парадигм, предлагаемых Django ORM / Flask-SQLAlchemy ORM).</li>
                        <li class="list-group-item">12. Реализуйте ленивую загрузку для дерева сотрудников. Например,
                            показывайте первые два уровня иерархии по умолчанию и подгружайте 2 следующих уровня или всю
                            ветку дерева при клике на сотрудника второго уровня.</li>
                        <li class="list-group-item">13. Реализуйте возможность менять начальника сотрудника используя
                            drag-n-drop сразу в дереве сотрудников.</li>

                    </ul>



                    <div class="card border-primary mb-3">
                        <div class="card-body text-primary">
                            <p class="card-text">Пожалуйста не забудьте, что Ваше тестовое задание должно быть
                                предоставлено в
                                виде ссылки на github/bitbucket репозиторий. Мы рассмотрим каждое задание
                                соответствующее заявленным выше требованиям. Рассмотрение занимает некоторое
                                время, поэтому не стоит перезванивать нам на следующий день, чтобы узнать
                                результат. Так же не стоит спешить и отправлять только часть выполненных заданий,
                                если чувствуете что можете сделать больше. У нас открыто несколько вакансий и мы
                                всегда в поиске талантов, проявите себя! Мы желаем Вам удачи и с нетерпением
                                ждем Ваше выполненное задание.</p>
                        </div>
                    </div>



                </div>
            </div>

        </div>

    </div>
</div>


{% endblock content %}