<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>


        {% for employee in emplote_list %}
        {% if employee.low_image %}


        {{ employee.full_name }}
        <img src="{{ employee.low_image.url }}" alt="">

        <hr>

        <img src="{{ employee.image.url }}" alt="">

        {% endif %}







        {% endfor %}


    </body>

</html>